@import 'variables';

.card {
  margin: 0;
  box-shadow: $box-shadow;
  border-radius: 10px;
  width: auto;
  border: 1px solid $ft-blue-light;

  .card-title {
    display: flex;
    align-items: baseline;
    padding: 14px 16px;
    border-bottom: 1px solid rgba(219, 233, 245, 0.6);
    font-size: 18px;
    font-family: $ft-font-default;
    color: $ft-black-solid;
    font-weight: bold;
    margin-bottom: 0;
  }

  .card-body {
    text-align: center;
  }
}
