@import "variables";

.card {
  margin: 0 0 4px;
  box-shadow: $box-shadow;
  border-radius: 10px;
  width: auto;
  border: 1px solid $ft-blue-light;

  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    border-bottom: 1px solid rgba(219, 233, 245, 0.6);
    font-size: 18px;
    font-family: $ft-font-default;
    color: $ft-black-solid;
  }

  .card-body {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
  }
}
