// ==================================================
// Variables
//
// 1. Colors
// 2. Miscellaneous
// 3. Transition
// 4. Fonts
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

$ft-black-solid: #172b3e;
$ft-blue-light: #dbe9f5;

// --------------------------------------------------
// 2. Miscellaneous
// --------------------------------------------------

// --------------------------------------------------
// 3. Transition
// --------------------------------------------------

$transition: 0.25s;

$box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);

// --------------------------------------------------
// 4. Fonts
// --------------------------------------------------

$ft-font-default: "Circular std", sans-serif;
