// ==================================================
// Variables
//
// 1. Colors
// 2. Miscellaneous
// 3. Transition
// 4. Fonts
// 5. Spaces
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

$ft-black-solid: #172b3e;
$ft-blue-light: #dbe9f5;
$ft-gray: #8498ae;

$ftech-colors: (
  'black-solid': #172b3e,
  'blue-light': #dbe9f5,
  'blue-light-2': #5b9fde,
  'blue-dark': #2e75b6,
  'gray-1': #8498ae,
);

// --------------------------------------------------
// 2. Miscellaneous
// --------------------------------------------------

// --------------------------------------------------
// 3. Transition
// --------------------------------------------------

$transition: 0.25s;

$box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);

// --------------------------------------------------
// 4. Fonts
// --------------------------------------------------

$ft-font-default: 'Circular std', sans-serif;

// --------------------------------------------------
// 5. Spaces
// --------------------------------------------------

$spaces: (
  xxs: 0.75rem,
  // 12px
    xs: 0.875rem,
  // 14px
    sm: 1rem,
  // 16px
    default: 1.5rem,
  // 24px
    md: 2rem,
  // 32px
    lg: 3rem,
  // 48px
    xlg: 4rem,
  // 64px
    xxlg: 6rem,
  // 96px
);
