@import 'mixins';

.chartVendasAcumuladas {
  width: 100%;
  height: 500px;
}

.legend-skeleton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 300px;
  width: 100%;
  overflow-x: auto;

  @include mediaUp('lg') {
    overflow-x: visible;
  }
}

:host ::ng-deep {
  .skeleton-container {
    padding: 0 !important;

    .skeleton {
      display: flex;

      &__line {
        margin: 0 5px;
      }
    }
  }
}
