:host ::ng-deep .content-client .card {
  background: rgba(0, 123, 255, 0.6);
  margin-bottom: 0;
}

.title-client {
  color: rgba(255, 255, 255, 0.8);
}

.title-client-value {
  color: #fff;
  font-weight: 600;
}
