<div class="home-container">
  <div class="d-flex flex-column">
    <h2 class="home-title">
      Indicadores do franqueado - Mês de referência <strong>{{ month }}</strong>
    </h2>

    <div class="content-indicador">
      <ft-indicadores [(codigoFranqueado)]="codigoFranqueado"></ft-indicadores>

      <div class="content-filter col-12 col-sm-12 col-md-8 col-lg-8 col-xl-5">
        <div
          class="pl-0 pr-0 col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 ml-0 ml-md-2 ml-lg-2 ml-xl-2"
        >
          <ft-combo-franquias
            (handleChangeEmit)="getCodigoFranqueado($event)"
          ></ft-combo-franquias>
        </div>
        <!-- <ft-button-filter
          class="btn-filter-custom"
          (handleClickEmit)="handleFilter()"
        ></ft-button-filter> -->
      </div>
    </div>
  </div>

  <ft-card [title]="'Vendas por tipo de pagamento'" id="tipoPagto">
    <chart-tipo-pagamento
      [(codigoFranqueado)]="codigoFranqueado"
    ></chart-tipo-pagamento>
  </ft-card>

  <ft-card [title]="'Vendas Mensal'" id="vendasMensal">
    <chart-mensal
      [(carregarVendasMensal)]="carregarValores.carregarVendasMensal"
    ></chart-mensal>
  </ft-card>

  <ft-card [title]="'Histórico de vendas'" id="historicoVendas">
    <chart-historico
      [(carregarHistorico)]="carregarValores.carregarHistorico"
    ></chart-historico>
  </ft-card>

  <ft-card [title]="'Vendas Acumuladas 2020'" id="vendasAcumuladas">
    <chart-acumulados
      [(carregarVendasAcc)]="carregarValores.carregaVendasAcumuladas"
    ></chart-acumulados>
  </ft-card>

  <ft-card [title]="'Top 10 Produtos mais vendidos'" id="topProdutos">
    <chart-top-produtos
      [(carregarTopProdutos)]="carregarValores.carregaTopProdutos"
    ></chart-top-produtos>
  </ft-card>
</div>
