@import 'variables';
@import 'mixins';

.filter-month-reference {
  margin-top: var(--space-sm);
  &__input {
    text-align: center;
    font-weight: 600;
    max-width: 250px;
    height: 50px;
    font-size: 1rem;

    @include mediaUp('lg') {
      font-size: 1.3rem;
    }
  }

  button {
    padding: 0 var(--space-sm);

    @include mediaUp('lg') {
      padding: 0 var(--space-default);
    }
  }

  &--btn-left {
    border-top-left-radius: var(--space-xxs);
    border-bottom-left-radius: var(--space-xxs);
  }

  &--btn-right {
    border-top-right-radius: var(--space-xxs) !important;
    border-bottom-right-radius: var(--space-xxs) !important;
  }
}

.chart-container {
  display: grid;
  grid-template-areas:
    'pagto pagto'
    'vendasMensal vendasMensal'
    'histVendas histVendas'
    'vendasAcc vendasAcc'
    'topProd topProd';

  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 10px;

  .tipo-pagto {
    grid-area: pagto;
  }
  .vendas-mensal {
    grid-area: vendasMensal;
  }
  .hist-vendas {
    grid-area: histVendas;
  }
  .vendas-acc {
    grid-area: vendasAcc;
  }
  .top-produtos {
    grid-area: topProd;
  }

  @include mediaUp('lg') {
    grid-template-areas:
      'pagto vendasMensal'
      'histVendas vendasAcc'
      'topProd topProd';
  }
}

:host ::ng-deep .card-body {
  padding: 10px 0;
}

.home-title {
  font-size: 16px;
  margin-bottom: 0 !important;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: 'Roboto-Regular';
}

.content-indicador {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.content-filter {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .home-title {
    font-size: 30px;
  }

  .content-indicador {
    flex-direction: row;
    align-items: flex-end;
  }

  .content-filter {
    flex-direction: row;
  }

  .btn-filter-custom {
    display: flex;
    margin-top: 9px;
    margin-left: 5px;
  }

  :host ::ng-deep .top-produtos {
    .card {
      .card-body {
        padding-right: 20px;
      }
    }
  }
}
