<div class="home-container">
  <ft-card [title]="'Vendas por tipo de pagamento'">
    <chart-tipo-pagamento></chart-tipo-pagamento>
  </ft-card>

  <ft-card [title]="'Vendas Mensal'">
    <chart-mensal></chart-mensal>
  </ft-card>

  <ft-card [title]="'Histórico de vendas'">
    <chart-historico></chart-historico>
  </ft-card>

  <ft-card [title]="'Vendas Acumuladas 2020'">
    <chart-acumulados></chart-acumulados>
  </ft-card>

  <ft-card [title]="'Top 10 Produtos mais vendidos'">
    <chart-top-produtos></chart-top-produtos>
  </ft-card>
</div>

<!-- <ft-card [title]="'Primeiro gráfico teste'">
  <div id="chartdiv" style="width: 100%; height: 500px;"></div>
</ft-card> -->
