@import 'variables';
@import 'mixins';

.chart-container {
  display: grid;
  grid-template-areas:
    'pagto pagto'
    'vendasMensal vendasMensal'
    'histVendas histVendas'
    'vendasAcc vendasAcc'
    'topProd topProd';

  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 10px;

  .tipo-pagto {
    grid-area: pagto;
  }
  .vendas-mensal {
    grid-area: vendasMensal;
  }
  .hist-vendas {
    grid-area: histVendas;
  }
  .vendas-acc {
    grid-area: vendasAcc;
  }
  .top-produtos {
    grid-area: topProd;
  }

  @include mediaUp('lg') {
    grid-template-areas:
      'pagto vendasMensal'
      'histVendas vendasAcc'
      'topProd topProd';
  }
}

:host ::ng-deep .card-body {
  padding: 10px 0;
}

:host ::ng-deep .top-produtos {
  .card {
    .card-body {
      padding-right: 20px;
    }
  }
}

.home-title {
  font-size: 16px;
  margin-bottom: 0 !important;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: 'Roboto-Regular';
}

.content-indicador {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.content-filter {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .home-title {
    font-size: 30px;
  }

  .content-indicador {
    flex-direction: row;
    align-items: flex-end;
  }

  .content-filter {
    flex-direction: row;
  }

  .btn-filter-custom {
    display: flex;
    margin-top: 9px;
    margin-left: 5px;
  }
}
