@import "../../../shared/styles/bootstrap/_functions.scss";
@import "../../../shared/styles/bootstrap/_variables.scss";
@import "../../../shared/styles/bootstrap/_mixins";
@import "../../../shared/styles/app/variables.scss";

@import "variables";

.home-container {
}

.home-title {
  font-size: 20px;
  margin-bottom: 0 !important;
}

.content-indicador {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.home-title {
  margin-bottom: 30px;
  font-weight: 500;
  font-family: "Roboto-Regular";
}

.content-filter {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .home-title {
    font-size: 30px;
  }

  .content-indicador {
    flex-direction: row;
    align-items: flex-end;
  }

  .content-filter {
    flex-direction: row;
  }

  .btn-filter-custom {
    display: flex;
    margin-top: 9px;
    margin-left: 5px;
  }
}
