.p-relative {
  position: relative;
}

.container-login {
  overflow-y: hidden;
  background: #f1f1f1;

  .content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;

    .illustration {
      width: 40vw;
      height: 100vh;
      // background: rgba(0, 0, 0, 0.3);
      background: linear-gradient(
        to bottom,
        rgba(97, 144, 232, 0.9),
        rgba(166, 173, 240, 0.4)
      );
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1;

      .card-body {
        max-width: 400px;
        width: 100%;
        flex: initial;
        flex: 3;

        .title-login {
          font-weight: 600;
        }
      }
    }

    &__logo {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 2;
      justify-content: center;

      .img-logo {
        max-width: 140px;
        width: 100%;
      }

      span {
        color: #fff;
        font-size: 14px;
      }
    }

    .card-login {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 60vw;

      &__illustration {
        max-width: 900px;
        opacity: 0.8;
      }
    }
  }
}

.content-login {
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
}

.see-pass {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

.card-header {
  background: linear-gradient(45deg, #23b7e5, #6190e8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-signin {
  height: 50px;
  text-transform: uppercase;
}

.c-checkbox span,
.c-radio span {
  border: 1px solid #fff;
}
