<div
  class="wrapper h-100 container-login d-none d-sm-none d-md-block d-lg-block d-xl-block"
>
  <div class="content-wrapper">
    <section class="illustration">
      <div class="content-wrapper__logo" [@growUp]>
        <img
          class="block-center rounded img-logo"
          src="assets/img/logo.svg"
          alt="Image"
        />

        <span>Acompanhe o crescimento de suas vendas</span>
      </div>

      <div class="card-body" [@slideUp]>
        <p class="text-center py-2 title-login">Faça login para continuar</p>
        <form
          [formGroup]="loginForm"
          class="form-validate mb-3"
          role="form"
          name="loginForm"
          novalidate=""
          (ngSubmit)="submitForm($event)"
        >
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              name="Usuario"
              placeholder="Usuário"
              autocomplete="off"
              formControlName="Usuario"
              required=""
            />
            <small
              class="text-danger"
              *ngIf="
                loginForm.controls['Usuario'].hasError('required') &&
                (loginForm.controls['Usuario'].dirty ||
                  loginForm.controls['Usuario'].touched)
              "
            >
              Preencha o campo E-mail
            </small>
            <small
              class="text-danger"
              *ngIf="
                loginForm.controls['Usuario'].hasError('Usuario') &&
                (loginForm.controls['Usuario'].dirty ||
                  loginForm.controls['Usuario'].touched)
              "
            >
              É necessário que preencha um E-mail válido
            </small>
          </div>
          <div class="form-group p-relative">
            <input
              #inputPasswd
              class="form-control"
              type="password"
              name="password"
              placeholder="Senha"
              formControlName="Senha"
              required=""
            />
            <i
              class="fas see-pass"
              [ngClass]="{
                'fa-eye': inputPasswd.type == 'password',
                'fa-eye-slash': inputPasswd.type == 'text'
              }"
              (click)="
                inputPasswd.type =
                  inputPasswd.type == 'text' ? 'password' : 'text'
              "
            ></i>

            <small
              class="text-danger"
              *ngIf="
                loginForm.controls['Senha'].hasError('required') &&
                (loginForm.controls['Senha'].dirty ||
                  loginForm.controls['Senha'].touched)
              "
            >
              Preencha o campo Senha
            </small>
          </div>
          <div class="clearfix">
            <div class="checkbox c-checkbox float-left mt0">
              <label>
                <input
                  class="checkbox-remember"
                  type="checkbox"
                  #checkRememberMe
                  name="account_remember"
                />
                <span class="fa fa-check"></span>Lembre-me</label
              >
            </div>
          </div>
          <button
            class="btn btn-block btn-primary mt-3 btn-signin"
            type="submit"
          >
            Entrar
          </button>
        </form>
      </div>
    </section>

    <section class="card-login">
      <img
        class="card-login__illustration"
        src="assets/img/charts.svg"
        alt="charts"
      />
    </section>
  </div>
</div>

<ft-signin-mobile
  class="d-block d-sm-block d-md-none d-lg-none d-xl-none h-100"
></ft-signin-mobile>
