<section>
  <div class="indicadores">
    <ft-card class="w-auto card-indicador">
      <div class="indicador">
        <span *ngIf="!loading" class="indicador__value">{{
          faturamento?.Faturamento || 0 | currency: 'BRL'
        }}</span>
        <ft-skeleton-loader
          *ngIf="loading"
          [theme]="{ width: '100px', height: '30px', margin: '0 auto' }"
        ></ft-skeleton-loader>
        <small class="indicador__footer"
          >Faturamento /
          {{ faturamento?.BaseDivisaoFaturamento || 0 | number }}</small
        >
      </div>
    </ft-card>

    <ft-card class="w-auto card-indicador">
      <div class="indicador">
        <span *ngIf="!loading" class="indicador__value">{{
          faturamento?.ClientesAtendidos || 0 | number
        }}</span>
        <ft-skeleton-loader
          *ngIf="loading"
          [theme]="{ width: '100px', height: '30px', margin: '0 auto' }"
        ></ft-skeleton-loader>
        <small class="indicador__footer">Clientes atendidos</small>
      </div>
    </ft-card>

    <ft-card class="w-auto card-indicador">
      <div class="indicador">
        <span *ngIf="!loading" class="indicador__value">{{
          faturamento?.ValorTicketMedioCliente || 0 | currency: 'BRL'
        }}</span>
        <ft-skeleton-loader
          *ngIf="loading"
          [theme]="{ width: '100px', height: '30px', margin: '0 auto' }"
        ></ft-skeleton-loader>
        <small class="indicador__footer">Ticket médio cliente</small>
      </div>
    </ft-card>

    <ft-card class="w-auto card-indicador">
      <div class="indicador">
        <span *ngIf="!loading" class="indicador__value">{{
          faturamento?.ValorTicketMedioPeso || 0 | currency: 'BRL'
        }}</span>
        <ft-skeleton-loader
          *ngIf="loading"
          [theme]="{ width: '100px', height: '30px', margin: '0 auto' }"
        ></ft-skeleton-loader>
        <small class="indicador__footer">Ticket médio peso</small>
      </div>
    </ft-card>
  </div>
</section>
