@import "variables";

.indicadores {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $ft-font-default;
  flex-wrap: wrap;
}

.indicador {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__value {
    font-size: 27px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.7px;
  }

  &__footer {
    color: #6f7982;
    font-size: 12px;
  }
}

::ng-deep .card-indicador {
  .card {
    background: linear-gradient(to right, #a6adf0 30%, #ccd1ff);
  }
}

@media screen and (min-width: 768px) {
  .indicadores {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
  }

  .indicador {
    justify-content: center;
    align-items: center;
    height: 100%;

    &__value {
      font-size: 32px;
    }

    &__footer {
      font-size: 14px;
    }
  }

  ::ng-deep .card-indicador {
    .card {
      width: auto;
      min-width: 200px !important;
      height: 125px;
    }
    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}
