<section>
  <h2 class="indicadores-title">
    Indicadores do franqueado - Mês de referência {{ month }}
  </h2>

  <div class="indicadores">
    <ft-card class="w-auto card-indicador">
      <div class="indicador">
        <span class="indicador__value">R$ 35,50</span>
        <small class="indicador__footer">Faturamento / 1.000</small>
      </div>
    </ft-card>

    <ft-card class="w-auto card-indicador">
      <div class="indicador">
        <span class="indicador__value">500</span>
        <small class="indicador__footer">Clientes atendidos</small>
      </div>
    </ft-card>

    <ft-card class="w-auto card-indicador">
      <div class="indicador">
        <span class="indicador__value">R$ 14,33</span>
        <small class="indicador__footer">Ticket médio cliente</small>
      </div>
    </ft-card>

    <ft-card class="w-auto">
      <div class="indicador">
        <span class="indicador__value">R$ 08,07</span>
        <small class="indicador__footer">Ticket médio peso</small>
      </div>
    </ft-card>
  </div>
</section>
