<form [formGroup]="formPeriodo" role="form">
  <div class="form-row">
    <div
      class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 p-relative mb-2 mb-sm-2 mb-md-0 mb-lg-0 mb-xl-0"
    >
      <div class="form-group p-relative">
        <label for="inputEmail4">Data Início *</label>
        <input
          class="form-control"
          type="text"
          formControlName="dataInicio"
          bsDatepicker
          #dpInicio="bsDatepicker"
          [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
          maskDate
        />
        <i
          class="far fa-calendar-alt fa-lg icon-callendar"
          [attr.aria-expanded]="dpInicio.isOpen"
          (click)="dpInicio.toggle()"
        ></i>
        <span
          class="invalid-tltip"
          *ngIf="submitted && !formPeriodo.get('dataInicio').valid"
        >
          Informe a Data Início
        </span>
      </div>
    </div>

    <div
      class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 p-relative mb-2 mb-sm-2 mb-md-0 mb-lg-0 mb-xl-0"
    >
      <div class="form-group p-relative">
        <label for="inputEmail4">Data Fim *</label>
        <input
          class="form-control"
          type="text"
          formControlName="dataFim"
          bsDatepicker
          #dpFim="bsDatepicker"
          [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
          maskDate
        />
        <i
          class="far fa-calendar-alt fa-lg icon-callendar"
          [attr.aria-expanded]="dpFim.isOpen"
          (click)="dpFim.toggle()"
        ></i>
        <span
          class="invalid-tltip"
          *ngIf="submitted && !formPeriodo.get('dataFim').valid"
        >
          Informe a Data Fim
        </span>
      </div>
    </div>

    <div
      class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-relative mb-2 mb-sm-2 mb-md-0 mb-lg-0 mb-xl-0"
    >
      <ft-combo-franquias
        formControlName="codigoFranqueado"
      ></ft-combo-franquias>
      <span class="invalid-tltip" *ngIf="isFieldValid('codigoFranqueado')">
        É necessário informar a Unidade
      </span>
    </div>

    <button
      class="btn btn-lg btn-primary align-self-center mt-2 btn-filter"
      (click)="handleFilter()"
    >
      <i class="fas fa-filter mr-2"></i>
      Filtrar
    </button>
  </div>
</form>
