<div class="table-responsive">
  <table class="table">
    <thead class="thead-bg">
      <tr>
        <th scope="col" class="text-truncate">Categoria/Produto</th>
        <th scope="col" class="text-right">Volume</th>
        <th scope="col" class="text-right">Valor</th>
        <th scope="col" class="text-right">%</th>
      </tr>
    </thead>
  </table>

  <div class="bodycontainer scrollable">
    <table class="table table-condensed table-scrollable">
      <tbody class="tbody-data">
        <ng-container *ngFor="let item of listValues">
          <tr *ngIf="item?.Visible || (item?.Categoria && item?.Volume)">
            <td
              [ngClass]="{ 'item-td-category': !item?.Categoria }"
              class="pl-0"
            >
              <div class="d-flex align-items-center justify-content-start">
                <button
                  type="button"
                  class="btn-expand"
                  *ngIf="item?.Categoria"
                  (click)="toggleItems(item)"
                >
                  <em
                    [ngClass]="{
                      'icon-arrow-right': !item?.Expanded,
                      'icon-arrow-down': item?.Expanded
                    }"
                    class="icon-arrow"
                  ></em>
                </button>
                <span
                  [ngStyle]="{ 'margin-left': !item?.Categoria ? '42px' : '0' }"
                  [ngClass]="{ 'item-category': !item?.Categoria }"
                  class="text-left"
                  >{{ item?.DescricaoProduto }}</span
                >
              </div>
            </td>

            <td
              [ngClass]="{ 'item-td-category': !item?.Categoria }"
              class="text-right"
            >
              <span
                *ngIf="item?.Volume"
                [ngClass]="{ 'item-category': !item?.Categoria }"
              >
                {{ item?.Volume | number: '1.2-2' }}</span
              >
            </td>

            <td
              [ngClass]="{ 'item-td-category': !item?.Categoria }"
              class="text-right"
            >
              <span
                *ngIf="item?.Volume"
                [ngClass]="{ 'item-category': !item?.Categoria }"
                >{{ item?.Valor | currency: 'BRL' }}</span
              >
            </td>

            <td
              [ngClass]="{ 'item-td-category': !item?.Categoria }"
              class="text-right"
            >
              <span
                *ngIf="item?.Volume"
                [ngClass]="{ 'item-category': !item?.Categoria }"
                >{{ item?.Percentual | number: '1.2-2' }}%</span
              >
            </td>
          </tr>
        </ng-container>
      </tbody>
      <ft-empty-content
        [loading]="loading"
        *ngIf="!listValues.length || loading"
      ></ft-empty-content>
    </table>
  </div>
  <table class="table table-condensed">
    <tfoot class="tfoot-data">
      <ng-container *ngFor="let item of listValues">
        <tr *ngIf="!item?.Volume">
          <td>Total</td>
          <td></td>
          <td class="text-right">{{ item?.Valor | currency: 'BRL' }}</td>
          <td class="text-right">{{ item?.Percentual | number: '1.2-2' }}%</td>
        </tr>
      </ng-container>
    </tfoot>
  </table>
</div>
