@import "variables";

$blue-alpha: rgba(0, 123, 255, 0.1);

.thead-bg {
  background-color: #0e6ba8;
  color: #fff;

  tr {
    th:not(:first-child) {
      width: calc(100% / 4);
    }

    // th:first-of-type {
    //   width: 10% !important;
    // }
  }
}

.tbody-data {
  tr {
    td:not(:first-child) {
      width: calc(100% / 4);
    }

    td:first-of-type {
      width: 100%;
    }
  }
}

.tfoot-data {
  background-color: rgba(0, 123, 255, 0.1);
  tr {
    td:not(:first-child) {
      width: calc(100% / 4);
    }

    td:first-of-type {
      width: 100% !important;
    }
  }
}

td {
  font-size: 12px;
  color: #172b3e;
  font-weight: 600;
  border-top: 1px solid #e0f0fe;
}

.btn-expand {
  outline: none;
  border: 1px solid #e3eaf1;
  background-color: #fff;
  border-radius: 5px;
  transition: $transition;
  width: 28px;
  height: 28px;
  margin: 0 12px 0 0;
  box-shadow: $box-shadow;

  &:hover {
    background-color: $ft-blue-light;
  }
}

.icon-arrow {
  font-size: 9px;
  font-weight: 600;
  color: #007bff;
}

.item-category {
  font-size: 10px;
  color: #656565;
  text-align: left;
}

.item-td-category {
  background-color: $blue-alpha;
}

@media screen and (min-width: 768px) {
  td {
    font-size: 14px;
  }

  .item-category {
    font-size: 12px;
  }

  .tbody-data {
    tr {
      td:not(:first-child) {
        width: calc(100% / 4) !important;
      }

      td:first-of-type {
        width: initial !important;
      }
    }
  }

  .tfoot-data {
    tr {
      td:not(:first-child) {
        width: calc(100% / 4);
      }

      td:first-of-type {
        width: initial !important;
      }
    }
  }
}
