/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Circular std';
  src: url('./assets/fonts/Circular Std Book.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@import 'variables';
@import 'mixins';

:root {
  @each $prop, $value in $ftech-colors {
    --color-#{$prop}: #{$value};
  }

  @each $prop, $value in $spaces {
    --space-#{$prop}: #{$value};
  }
}

html {
  font-size: 100% !important;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

@import '~simple-line-icons/css/simple-line-icons.css';

@import '~bootstrap/dist/css/bootstrap.min.css';
//== Application
@import './app/shared/styles/app.scss';

// ng-select
@import '~@ng-select/ng-select/themes/default.theme.css';

.c-pointer {
  cursor: pointer;
}

label {
  margin-bottom: 4px;
  color: $ft-black-solid;
  font-family: $ft-font-default;
}

tspan,
th,
td {
  font-family: $ft-font-default;
}

// .content-wrapper {
//   height: calc(100vh - 115px) !important;
// }

input.form-control {
  border: 2px solid #dbe9f5;
  box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);
  height: 40px;
}

.ng-select .ng-select-container {
  border: 2px solid #dbe9f5;
  box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);
  height: 40px !important;
}

.ng-select.ng-select-opened {
  .ng-select-container {
    border: 2px solid #66afe9;
  }
}

.p-relative {
  position: relative;
}

.invalid-tltip {
  position: absolute;
  top: 80%;
  z-index: 5;
  max-width: 100%;
  padding: 6px;
  margin-top: 0.1rem;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.8);
  border-radius: 0.2rem;
}

@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: $i * 100;
  }
}

//------------------------------------------
// Tables (header, footer)
//------------------------------------------

.thead-bg {
  background-color: var(--color-blue-dark);
  color: #fff;
  font-size: var(--space-xs);

  @include mediaUp('lg') {
    font-size: var(--space-sm);
  }
}

.tfoot-data {
  background-color: rgba(0, 123, 255, 0.1);
}

// Modal

table {
  tbody {
    tr {
      td[class^='text-'],
      td > span {
        font-size: var(--space-xxs);

        @include mediaUp('lg') {
          font-size: var(--space-sm);
        }
      }
    }
  }
}

//---------------------------------------------
// Tables responsive fixed height
// --------------------------------------------

.bodycontainer {
  max-height: 500px;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}
.table-scrollable {
  margin: 0;
  padding: 0;
}

//---------------------------------------------
// btn detalhes table
//---------------------------------------------

.btn-detail {
  outline: none;
  border: 1px solid #e3eaf1;
  background-color: #fff;
  border-radius: 5px;
  transition: $transition;
  width: 28px;
  height: 28px;
  box-shadow: $box-shadow;
  margin: 0 12px 0 0;

  &__centered {
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: $ft-blue-light;
  }
}

//---------------------------------------------
// Bootstrap reset (button)
// --------------------------------------------

.btn-success {
  background-color: #9381ff;
  border-color: #9381ff;

  &:active,
  &:focus,
  &:hover {
    background-color: #6a52ff !important;
    border-color: #6a52ff !important;
  }
}

//---------------------------------------------
// Modal
//---------------------------------------------

.modal-detalhes-consumo {
  width: 100%;
  max-width: 1140px !important;
}


.modal-detalhamento-registros-balanca {
  width: 100%;
  max-width: 1280px !important;

  &.modal-maximize {
    .modal-content {
      height: 100vh !important;
    }
  }
}

.modal-filter {
  .modal-content {
    border-radius: 12px;
  }
}

.modal-itens-detalhe {
  width: 100%;
  max-width: 1140px !important;
}

.modal-header {
  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .icon-maximize {
      cursor: pointer;

      &:hover {
        color: var(--color-gray-1);
      }
    }
  }
}

.modal-maximize {
  max-width: 100% !important;
  margin: 0;
  height: 100vh !important;
}
