/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Circular std";
  src: url("/assets/fonts/Circular Std Book.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

@import "variables";

//== Vendor
// @import '~@fortawesome/fontawesome-free-webfonts/webfonts';
// @import '../node_modules/~@fortawesome/fontawesome-free-webfonts/scss/regular.css';
// @import '../node_modules/~@fortawesome/fontawesome-free-webfonts/scss/solid.css';
// @import '../node_modules/~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.css';
@import "~simple-line-icons/css/simple-line-icons.css";

// $fa-font-path: "../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts";
// @import "@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
// @import "@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

//== Bootstrap
// @import "./app/shared/styles/bootstrap.scss";

@import "~bootstrap/dist/css/bootstrap.min.css";
//== Application
@import "./app/shared/styles/app.scss";

// ng-select
@import "~@ng-select/ng-select/themes/default.theme.css";

.c-pointer {
  cursor: pointer;
}

label {
  margin-bottom: 4px;
  color: $ft-black-solid;
  font-family: $ft-font-default;
}

tspan,
th,
td {
  font-family: $ft-font-default;
}

// .content-wrapper {
//   height: calc(100vh - 115px) !important;
// }

input.form-control {
  border: 2px solid #dbe9f5;
  box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);
  height: 40px;
}

.ng-select .ng-select-container {
  border: 2px solid #dbe9f5;
  box-shadow: 0 4px 6px 0 rgba(31, 70, 88, 0.04);
  height: 40px !important;
}

.ng-select.ng-select-opened {
  .ng-select-container {
    border: 2px solid #66afe9;
  }
}

.p-relative {
  position: relative;
}

.invalid-tltip {
  position: absolute;
  top: 80%;
  z-index: 5;
  max-width: 100%;
  padding: 6px;
  margin-top: 0.1rem;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.8);
  border-radius: 0.2rem;
}

@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: $i * 100;
  }
}

//------------------------------------------
// Tables (header, footer)
//------------------------------------------

.thead-bg {
  background-color: #0d4c8f;
  color: #fff;
  text-transform: uppercase;

  font-size: 12px;
}

.tfoot-data {
  background-color: rgba(0, 123, 255, 0.1);
}

.modal-detalhes-consumo {
  width: 100%;
  max-width: 1140px !important;
}

.modal-filter {
  .modal-content {
    border-radius: 12px;
  }
}

//---------------------------------------------
// Tables responsive fixed height
// --------------------------------------------

.bodycontainer {
  max-height: 500px;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}
.table-scrollable {
  margin: 0;
  padding: 0;
}

//---------------------------------------------
// Bootstrap reset (button)
// --------------------------------------------

.btn-success {
  background-color: #9381ff;
  border-color: #9381ff;

  &:active,
  &:focus,
  &:hover {
    background-color: #6a52ff !important;
    border-color: #6a52ff !important;
  }
}
