@import 'variables';
@import 'mixins';

th[scope='row'] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
  top: 2px;
}

td {
  font-size: 12px;
  color: #172b3e;
  font-weight: 500;
}

.thead-bg {
  background-color: #0e6ba8;
  color: #fff;

  tr {
    th:not(:first-child) {
      width: calc(100% / 5);
    }

    th:first-of-type {
      width: 100% !important;
    }
  }

  @include mediaUp('md') {
    tr {
      th:not(:first-child) {
        width: calc(100% / 5);
      }

      th:first-of-type {
        width: 10% !important;
      }
    }
  }
}

.tbody-data {
  tr {
    td:not(:first-child) {
      width: calc(100% / 5);
    }

    td:first-of-type {
      width: 10% !important;
    }
  }
}

.tfoot-data {
  background-color: rgba(0, 123, 255, 0.1);
  tr {
    td:not(:first-child) {
      width: calc(100% / 5);
    }

    td:first-of-type {
      width: 100% !important;
    }
  }

  @include mediaUp('md') {
    tr {
      td:not(:first-child) {
        width: calc(100% / 5);
      }

      td:first-of-type {
        width: 10% !important;
      }
    }
  }
}

.bodycontainer {
  max-height: 390px;
  width: 100%;
  margin: 0;
  overflow-y: auto;
}
.table-scrollable {
  margin: 0;
  padding: 0;
}

.btn-expand {
  display: initial;
}

.icon-plus,
.icon-eye {
  // font-size: 11px;
  font-weight: 600;
  color: #007bff;
}

.icon-eye {
  color: #818181;
}

.thead-mobile-mode {
  display: table-header-group;
}

.table-desktop-mode {
  display: none;
}

@media screen and (min-width: 768px) {
  td {
    font-size: 14px;
  }

  .table-desktop-mode {
    display: table;
  }

  .thead-mobile-mode {
    display: none;
  }
}
